<meta name="author" content="Oliver Graham">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title>Oliver Graham</title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = font-family:Arial>
    <header>
        <h1>Oliver Graham</h1>
        <nav>
            <a href ="../index.html">Home</a>
            <a href ="cv.html">Resume</a>
            <a href ="contact.html">Contact me</a>
            <a href ="fun.html">For fun me</a>
        </nav>
        
    </header>

    <div class = "name">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>
                <th>Email</th>
                <td><a href="mailto:ograham@andrew.cmu.edu">ograham@andrew.cmu.edu</a></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><p>(412)-452-1755</p></td>
            </tr>
            <tr>
                <th>LinkedIn</th>
                <td><a href="https://www.linkedin.com/in/oliverhgraham">Oliver Graham LinkedIn</a></td>
            </tr>
        </table>
    </div>
    <footer>©designed and coded by Oliver Graham</footer>
</body>
</html>
