<meta name="author" content="Oliver Graham">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title>Oliver Graham</title><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class = "head">
        <h1>Oliver Graham</h1>
        <nav>
            <a href ="../index.html">Home</a>
            <a href ="cv.html">Resume</a>
            <a href ="contact.html">Contact me</a>
            <a href ="fun.html">For fun</a>
        </nav>
        
    </header>
    <div class = "cv">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Sweetwater Center for the Arts, evening receptionist</td>
                <td>I would answer phones, set up for classes and events, and close the biulding</td>
            </tr>
            <tr>
                <td>Quaker Valley High School, Peer Help Desk Manager Information Technology</td>
                <td>I would help students and staff with their Technological issues</td>
            </tr>
            <tr>
                <td>National Institute of strategie and technology, assessing risks and inpacts of AI</td>
                <td>I participated in adversarial AI capture the flag competition and was able to capture the flags</td>
            </tr>
            <tr>
                <td>Quaker Valley Summer Track Camp Counsilor</td>
                <td>I would help teach different events to the campers and would run drills for them students</td>
            </tr>
        </table>
        <a href = "../static/OliverGrahamResume.pdf" target = _blank> Download Oliver Graham's resume</a>
    </div>
    <footer>©designed and coded by Oliver Graham</footer>
</body>
</html>
