<meta name="author" content="Oliver Graham">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title>Oliver Graham</title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = font-family:Arial>
    <header>
        <h1>Oliver Graham</h1>
        <nav>
            <a href ="../index.html">Home</a>
            <a href ="cv.html">Resume</a>
            <a href ="contact.html">Contact me</a>
            <a href ="fun.html">For fun me</a>
        </nav>
        
    </header>
    <div class = "cv">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Oliver Graham</td>
                <td>Sweet Water Center for the Arts</td>
            </tr>
        </table>
        <a href = "../static/OliverGrahamResume.pdf" target = _blank> Download Oliver Graham's resume</a>
    </div>
    <footer>©designed and coded by Oliver Graham</footer>
</body>
</html>
