<meta name="author" content="Oliver Graham">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title>Oliver Graham</title><!DOCTYPE html>
<html lang="en">
<head>
    <script src="./static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class = "head">
        <h1>Oliver Graham</h1>
        <nav>
            <a href ="../index.html">Home</a>
            <a href ="cv.html">Resume</a>
            <a href ="contact.html">Contact me</a>
            <a href ="fun.html">For fun</a>
        </nav>
        
    </header>
    <div class = "name">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Running</li>
            <li>Building electric cars</li>
            <li>Racing electric cars</li>
            <li>Playing video games</li>
            <li>Watching movies</li>
        </ul>
    </div>
    <footer>©designed and coded by Oliver Graham</footer>
</body>
</html>
