<meta name="author" content="Oliver Graham">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title>Oliver Graham</title><!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="../static/script.js" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload = "addYear()">
    <header class = "head">
        <h1>Oliver Graham</h1>
        <nav>
            <a href ="../index.html">Home</a>
            <a href ="cv.html">Resume</a>
            <a href ="contact.html">Contact me</a>
            <a href ="fun.html">For fun</a>
        </nav>
        
    </header>
    <div class = "mainLayout">

        <div class = item1></div>
            <h2>Things I love to do for fun</h2>
            <button id="showButton" onclick="showList()">Click to see...</button>
            <ul id = "funList">
                <li>Running</li>
                <li>Building electric cars</li>
                <li>Racing electric cars</li>
                <li>Playing video games</li>
                <li>Watching movies</li>
            </ul>
        <div class = item2></div>
            <img class = "funImage" src = "../static/luna.jpg" alt="me and LUNA!!!!" width = "200" height = "200">
        <div class = item3></div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fktx7qLbXDc?si=aWb7ogolADvpQ-Pl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class = item4>
            <div class = "container4">
                <h2>Need some advice?</h2>
                <p id = adviceText>click the button to get a random piece of advice</p>
                <button id="adviceButton" onclick="getAdvice()">get advice</button>
            </div>
        </div>
    </div>
    <footer><p id="copyYear"></p> </footer>
</body>
</html>
