*{
    font-family:roboto;
}
body{

    color:rgb(255, 255, 255); 
    background:rgb(152, 210, 226);
    padding:5px;
    margin:5px;
}
.head {
    color: rgba(0, 0, 255, 0.5);
    background-color: rgba(0, 0, 255, 0.1); /* Replace with your desired color */
}
a{
    color:rgba(0, 255, 255,0.755)
}
table{
    padding: 12px;
    /*background-color: aquamarine;*/
    
    width:fit;}
table tr:nth-child(1) {
        background-color: white;
        color:black;
      }
table tr:nth-child(3){
    background-color:rgba(0, 0, 255, 0.1)
}
table tr:nth-child(5){
    background-color:rgba(0, 0, 255, 0.1)
}
form{
    display:block;
    margin:auto;
    text-align:center;
}
/*#funlist {
    display:none;
}*/
.funImage{
    border-radius: 100%;
}
.container{
    display: inline-block;
    border-radius: 10%;
    box-shadow: 00px 10px 10px rgba(0, 0, 0, 0.1);
}
.container button{
    padding 10px 15px;
    border = none;
    background-color: rgba(0, 0, 255, 0.1);
    color: white;
    font-size: 16px;
    border-radious: 5px;
    cursor: pointer;
}

.container button:hover{
    background-color: rgba(0, 0, 255, 0.5);
}
.mainLayout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item1,.item2,.item3,.item4{
    width: 40vw;
    margin: auto;

}
footer{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.1);
    color: white;
    margin-top: 20px;
}